.welcome {
  background-image: image_url('demo_day_summer_2021.png');
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background-color: #B5311F;
}
